/* Style Player */

.player {
	position: relative;
	top:20px;
	left:30%;
	height:300px;
	width:500px;
}
  
.player video {
	height:100%;
	width: 100%;
}
  
.video-controls {
	top:0;
	bottom:0;
	position: absolute;
	z-index: 2;
	height:100;
	width: 100%;
	display: flex;
	flex-direction:column;
	align-items: center;
}

.hidden {
	display: none;
}
  
.start .play-line,
.start .main-control,
.start .prev,
.start .next {
	display:none;
}
  
.up-control {
	width: 100%;
	height: 79.5%;
}

.play-line {
	width: 98%;
	height: 1%;
	background-color: white;
}
  
.main-control {
	width: 100%;
	height: 16.5%;
	display: flex;
	justify-content: space-between;
}
  
.up-control {
	top:0;
	width:100%;
	height: 79.8%;
	display: flex;
	flex-direction:column;
}
  
.top, .center, .bottom {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
  
.top, .bottom {
	height: 40%;
}
  
.center {
	height: 20%;
}
  
.left, .right {
	width: 40%;
}
  
.cleft, .cright {
	width: 25%;
}
  
.ccenter {
	width: 50%;
	display: flex;
	justify-content: space-between;
}
  
.main-left {
	display: flex;
}

.player-time {
	width: 100%;
	color: #fff;
	font-size: 100%;
	margin-left: 2.5%;
}